<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>My Project</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link href="http://cdn.jsdelivr.net/webjars/bootstrap/3.2.0/css/bootstrap.min.css"
          th:href="@{/webjars/bootstrap/3.2.0/css/bootstrap.min.css}"
          rel="stylesheet" media="screen" />
    <link href="../static/css/core.css"
          th:href="@{/css/core.css}"
          rel="stylesheet" media="screen" />
    <script src="http://cdn.jsdelivr.net/webjars/jquery/2.1.1/jquery.min.js"
            th:src="@{/webjars/jquery/2.1.1/jquery.min.js}"></script>
    <script>
    $(document).ready(function(){
    	$("#genBtn").click( function(){
    		var txt=$("#input").val();
    		//txt = encodeURI( txt );
    		txt=escape(txt);
    		txt=txt.replace(/+/g,"%u002B");
    		alert(txt);
    		$.post("/generate",
    				  txt,
    				  function(data,status){
    				    $("#code_img").attr("src", data.img_url);
    				    alert("生成结果：" + status+"，见右图");
    				  });
    	});
    });
    </script>
</head>
<body>
<!-- Header -->
<div th:replace="fragments/header :: header">
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <a class="navbar-brand" href="#">Static header</a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li class="active"><a href="#">Home</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="hero-unit">
        <h1>1. 示例码图</h1>
        <p>请扫描识别</p>
        <p>
        	<img src="../static/images/qr_demo.png" th:src="@{/images/qr_demo.png}"></img>
        </p>
        
    </div>

    <div>
    	<h1>2. 生成码图</h1>
    	<p>左侧框输入文字信息，不超过512个字节；点击“生成”按钮后，右侧框图显示二维码.</p>
    	<div class="row clearfix" >
    		
    		<div class="pull-left">
    			<textarea id="input" style="height:128px;width:200px;margin-left:15px;margin-right:10px;"></textarea>
    		</div>

    		<div class="pull-left">
    			<img id="code_img" src="../static/images/qr_demo.png" th:src="@{/images/qr_demo.png}"></img>
    		</div>
    		
    	</div>
    	<p>
            <a id="genBtn" href="javascript::;" class="btn btn-large btn-success">生成二维码</a>
        </p>
    </div>
    
    <footer>
    	<div class="container">
        	<div class="hero-unit" th:replace="fragments/footer :: footer">&copy; 2014 The Static Templates</div>
        </div>
    </footer>
</div>
</body>
</html>